* {
  font-family: 'Fraunces', serif;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  background: url('images/desktop/image-header.jpg') no-repeat;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.arrow {
  position: absolute;
  left: 50%;
  animation-name: arrow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    top: 25%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 25%;
  }
}

.logo {
  height: 62px;
  padding: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.nav-item {
  padding: 16px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #000;
}

.contact-btn {
  padding: 8px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.contact-btn:hover {
  transition: all 0.2s;
  background-color: rgb(134, 213, 242);
  border: solid #fff;
  color: #fff;
}

.header-text {
  position: absolute;
  top: 14%;
  left: 16%;
  right: 14%;
  color: #fff;
  font-size: 3rem;
  font-family: 'Fraunces', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

/* Hamburger menu */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Image layout */
.grid-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-cnt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  text-align: left;
}

.text-cnt h3 {
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  margin-bottom: 3.37rem;
}

.text-cnt p {
  font-size: 1.12rem;
  line-height: 1.8rem;
  color: #808397;
  font-weight: 100;
  margin-bottom: 48px;
}

.text-cnt h4 {
  font-family: 'Fraunces', serif;
  font-size: 1.3rem;
}

.yellow-underline {
  text-decoration: hsl(51, 82%, 76%) 6px solid underline;
}

.yellow-underline:hover {
  transition: all 1.5s ease-out;
  text-decoration: hsl(51, 96%, 67%) 7px solid underline;
}

.pink-underline {
  text-decoration: hsl(331, 75%, 72%) 6px solid underline;
}

.pink-underline:hover {
  transition: all 1.5s ease-out;
  text-decoration: hsl(331, 96%, 67%) 7px solid underline;
}

.image-cnt img {
  width: 100%;
  height: 100%;
}

.second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cherry-bg {
  position: relative;
}

.cherry-bg-text {
  color: #24554a;
}
.orange-bg {
  position: relative;
}

.orange-bg-text {
  color: #052c3b;
}

.second-grid-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.second-grid-text h4 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
}

.second-grid-text p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0 100px;
}

/* TESTIMONIALS SECTION  */
.testimonial-section {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: #a7aaad;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 0 0 0;
}

.testimonial-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.testimonial-cnt {
  padding: 2rem;
}

.testimonial-image-cnt {
  margin: 3rem 0;
}

.testimonial-image {
  border-radius: 50%;
  height: 72px;
}

.testimonial-p-text {
  color: #5b636d;
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 3rem 0;
}

.testimonial-h5-text {
  color: #24303e;
  font-size: 1.2rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  margin-bottom: 14px;
}

.review-occupation {
  color: #a7aaad;
  font-weight: lighter;
  font-size: 0.9rem;
}

/* THIRD GRID */
.third-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* FOOTER */
footer {
  background-color: #90d4c6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 50px;
  color: #2c7566;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
}

.footer-ul {
  display: flex;
}

.footer-ul li {
  padding: 10px;
  list-style-type: none;
  margin: 1rem 0 0 0;
}

.footer-a {
  text-decoration: none;
  color: #458d7e;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.footer-a:hover {
  color: #000;
}

.social-icons {
  display: flex;
}

.icon {
  margin: 3rem 2rem 2rem 0;
  height: 16px;
}

.attribution a {
  color: rgb(15, 38, 38);
}

/* MEDIA QUERIES */
@media (max-width: 960px) {
  .header-text {
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -300px;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    transition: 0.3s;
    padding: 10px;
  }

  .nav-link {
    color: #808397;
  }

  .contact-btn {
    background-color: yellow;
    margin-bottom: 20px;
  }

  .nav-menu.active {
    right: 0;
  }

  .grid-cnt {
    grid-template-columns: 1fr;
  }

  .order3 {
    order: 4;
  }

  .order4 {
    order: 3;
  }

  .second-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonial-main-wrapper {
    flex-direction: column;
  }

  .testimonial-cnt {
    padding: 1rem;
  }

  .third-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @keyframes arrow {
    0% {
      top: 30%;
    }
    50% {
      top: 35%;
    }
    100% {
      top: 30%;
    }
  }
}
